/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Gilroy';
  font-weight: 500;
  line-height: 140%;
  overflow-x: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  --color1: #FFFFFF;
  --color2: #8D86C9;

}

/*--------------------*/

/* FONTS */
@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Medium.eot');
  src: local('Gilroy Medium'), local('Gilroy-Medium'),
    url('Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Medium.woff2') format('woff2'),
    url('Gilroy-Medium.woff') format('woff'),
    url('Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Semibold.eot');
  src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
    url('Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Semibold.woff2') format('woff2'),
    url('Gilroy-Semibold.woff') format('woff'),
    url('Gilroy-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Bold.eot');
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Bold.woff2') format('woff2'),
    url('Gilroy-Bold.woff') format('woff'),
    url('Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Regular.woff2') format('woff2'),
    url('Gilroy-Regular.woff') format('woff'),
    url('Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* ============================== */
.container {
  max-width: 1296px;
  padding: 10px;
  margin: 0 auto;
}

header {
  background: url('./img/background.png');
  height: 1000px;
  margin-bottom: 170px;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 10px;

}

.navbar-link-wrapper {
  display: flex;
  gap: 40px;
  color: var(--color1);
}

.social-web-wrapper img:nth-child(2) {
  margin-left: 20px;
  margin-top: 3px;
}

.navbar-line-decor {
  max-width: 1920px;
  margin-top: 20px;
  border-bottom: 1px solid var(--color1);
  opacity: 0.3;
  margin-bottom: 200px;
}

/* HELLO-BLOCK */
.h1-wrapper h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 170%;
  color: var(--color1);
  margin-left: 25px;
  margin-bottom: 60px;
}

.video-btn {
  max-width: 80px;
  width: 80px;
  height: 80px;
  margin-left: 15px;
}

.white-ellipse {
  max-width: 80px;
  height: 80px;
  border: 1px solid var(--color1);
  border-radius: 50%;
}

.purple-elipse {
  max-width: 64px;
  height: 64px;
  background: var(--color2);
  border: 1px solid var(--color2);
  border-radius: 50%;
  margin: 5px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hello-video-btn {
  display: flex;
  margin-bottom: 200px;

  align-items: center;
}

.btn-text {
  margin-left: 30px;
  font-size: 18px;
  font-weight: 600;
  color: var(--color1);
}

.service-wrapper-position {
  display: flex;
  gap: 10px;

}

.service-wrapper {
  min-width: 315px;
  height: 149px;
  background: var(--color2);
}

.sevice-name {
  font-weight: 600;
  font-size: 18px;
  color: var(--color1);
  margin-left: 35px;
  margin-top: 35px;
  margin-bottom: 17px;
}

.service-category-wrapper {
  display: flex;
  gap: 55px;
}

.service-category {
  font-size: 24px;
  font-weight: 700;
  color: var(--color1);
  margin-left: 35px;
}

/* MAIN */
.advantages-wrapper {
  max-width: 1296px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  gap: 25px;
  margin-bottom: 150px;
}


.advantages-block-1,
.advantages-block-2,
.advantages-block-3 {
  background: url('./img/adv-background-1.png');
  max-width: 416px;
  width: 385px;
  height: 450px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
}

.advantages-block-1 p,
.advantages-block-2 p,
.advantages-block-3 p {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 27px;
  line-height: 140%;
  color: var(--color1);
}

.advantages-block-2 {
  background: url('./img/adv-background-2.png');
}

.advantages-block-3 {
  background: url('./img/adv-background-3.png');
}

.adv-border-decor-block {
  max-width: 416px;
  height: 470px;
  border: 1px solid #F7ECE1;
  padding: 10px;
  margin-left: 7px;
}

.about {
  margin-bottom: 150px;
}

.about-wrapper {
  max-width: 1076px;
  height: 654px;
  margin: 0 auto;
  display: flex;
  position: relative;
  align-items: center;

}

.about-img {
  position: absolute;
  z-index: 1;
  background: url('./img/img_about_block.png');
  max-width: 526px;
  width: 526px;
  height: 514px;

}

.about-text {
  position: absolute;
  left: 450px;
  max-width: 636px;
  width: 636px;
  height: 654px;
  background: #F7ECE1;
  text-align: center;
}

.about-text h2 {
  margin-top: 70px;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 36px;
  color: #333333;
}

.about-text p {
  max-width: 430px;
  margin-left: 146px;
  text-align: left;
  margin-bottom: 35px;
}

.about-text h3 {
  font-weight: 600;
  font-size: 21px;
  color: #333333;
  margin-left: 15px;
  margin-bottom: 25px;

}

.about-list-container-position {
  display: flex;
  gap: 23px;
}

.about-decor-li-wrapper {
  display: flex;
  flex-direction: column;
  gap: 46px;
  margin-top: 5px;
}

.decor-li {
  width: 8px;
  height: 8px;
  background: var(--color2);
  margin-left: 145px;
}

.decor-li-1 {
  margin-top: 1px;
}

.decor-li-2 {
  margin-top: 6px;
}

.decor-li-3 {
  margin-top: 4px;
}

.decor-li-4 {
  margin-top: 4px;
}

.about-text ul {
  max-width: 400px;
  height: 202px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #333333;
  text-align: left;
}

/* TRAINERS-SECTION */
.trainers {
  max-width: 1296px;
  width: 1296px;
  height: 523px;
  margin: 0 auto;
  margin-bottom: 150px;
}

.trainers-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}

.trainers-h2 {
  font-weight: 700;
  font-size: 36px;
  color: #333333;
  line-height: 90%;
}

.trainers-slider-btn-wrapper {
  width: 105px;
  max-width: 105px;
  height: 45px;
  display: flex;
  gap: 13px;
}

.trainers-slider-btn {
  width: 45px;
  height: 45px;
  background: var(--color2);
  text-align: center;
}

.trainers-slider-btn img {
  margin-top: 27%;
}

.trainers-card-wrapper {
  max-width: 196px;
}

.trainers-card img {
  max-width: 196px;
  height: 240px;
  border: 1px solid #F7ECE1;
  padding: 0 15px;
  margin-bottom: 15px;
}

.trainer-name {
  font-weight: 600;
  font-size: 21px;
  line-height: 140%;
  text-align: center;
  margin-bottom: 15px;
}

.trainer-regali {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #333333;

}

.trainers-slide-wrapper {
  display: flex;
  gap: 24px;
}

/* PRICE */
.price {
  margin-bottom: 150px;
}

.price-container {
  max-width: 1296px;
  height: 455px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.price-abonement {
  max-width: 526px;
  width: 526px;
  height: 455px;
}

.price-h2 {
  margin-bottom: 75px;
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
  color: #333333;
}

.price-block-1 {
  display: flex;
  max-width: 526px;
  height: 60px;
  background: var(--color2);
  font-weight: 600;
  font-size: 21px;
  line-height: 140%;
  color: #FFFFFF;
  justify-content: space-between;

  align-items: center;
  padding: 0 30px;
  margin-bottom: 30px;
}

.price-services {
  max-width: 636px;
  height: 455px;
  width: 636px;
}

.price-services-h2-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}

.services-content-border {
  max-width: 636px;
  height: 330px;
  width: 636px;
  border: 1px solid #F7ECE1;
}

.services-text {
  background: url('./img/services_background.png') no-repeat;
  margin: 0 auto;
  max-width: 586px;
  height: 270px;
  margin-top: 30px;
  display: flex;
  align-items: flex-end;
}

.services-text p {
  font-weight: 700;
  font-size: 27px;
  line-height: 140%;
  color: #FFFFFF;
  margin-left: 40px;
  margin-bottom: 30px;

}

/* FOOTER */
.footer-container {
  max-width: 1920px;
  width: 1910px;
  height: 96px;
  background: #F7ECE1;
}

.copyRights {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #333333;
  opacity: 0.3;
  margin-top: 26px;
}

.footer-styles {
  color: #333333;
  margin-top: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
}

.footer-icon-position {
  margin-top: 30px;
}

.footer-icon-position img {
  margin-left: 19px;
}